In [35]:
import pandas as pd

In [36]:
mq = pd.read_csv('mq.csv')
nftfi = pd.read_csv('nftfi.csv')

In [37]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [38]:
print('mq')
display(mq.head(2))
print('--------------------------------------------------------------------')
print('nftfi')
display(nftfi.head(2))

mq

,transaction_hash,block_timestamp,loan_id,to_address,from_address,principal_amount,repayment_amount,erc20_address,erc20_name,due_date,duration_in_days,apr,token_id,collection_address,protocol,amt_in_usd,roll_over,block_number,p2p_p2pool
0,0x933ff7d3b9d60593c97a5c9ab28205e54f019259defd...,2022-02-26 09:26:37.000000 UTC,-4882,0x676f3d2c9f5776e09d23986adc6684fb41e9000e,0x0aff497bd016000185b1c8302fa98a88ff4a4178,0.8,0.826624,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2022-03-28 09:26:37.000000 UTC,30.0,0.405000,1378,0x026224a2940bfe258d0dbe947919b62fe321f042,nftfi,2205.66016,False,14280871,p2p
1,0xd1b9fbddbcaaaea8fa8b19cfa53c5e9093993f0d51c0...,2022-04-19 22:33:16.000000 UTC,733,0x676f3d2c9f5776e09d23986adc6684fb41e9000e,0x2c35b3d207f745ad5b17d88328286c49a0ce4d4f,1.4,1.413425,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2022-04-26 22:33:16.000000 UTC,7.0,0.500013,1378,0x026224a2940bfe258d0dbe947919b62fe321f042,nftfi,4339.42642,False,14618284,p2p

--------------------------------------------------------------------
nftfi

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,...,interest,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time
0,2022-03-30 10:43:05.000000 UTC,ethereum,Art Blocks,v2.loan.fixed-3,2022-03-30 10:43:05.000000 UTC,2022-03-30 10:50:17.000000 UTC,True,0.005,True,0.01,...,1.000000e-07,0xd79275564CCAd8E679cbBb5E1C2FaCD46643a372,0x3e3B47b5d433bE4708A6BD524faCd48Bb54D10b1,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,1000323,False,73.000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,2022-03-30 10:59:51.000000 UTC
1,2022-07-04 17:30:26.000000 UTC,ethereum,Art Blocks,v2.loan.fixed-6396,2022-07-04 17:30:26.000000 UTC,2022-08-04 17:30:26.000000 UTC,True,31.000,False,9.00,...,1.528770e-01,0xE0450df8d87C94B52e779e8674746EBfa7e6D04B,0x8264e9e0f4CbcBBbb3F8eCAec0A625B590Ae790e,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,5510,False,20.000038,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,2022-08-04 16:01:50.000000 UTC,NaN

In [39]:
mq['loan_id'].head(2)

0   -4882
1     733
Name: loan_id, dtype: int64

In [40]:
# clean loan IDs to try and compare them
mq['loan_id_cleaned'] = mq['loan_id'].astype(str).str.replace('-','')
nftfi['loan_no_cleaned'] = nftfi['loan_no'].str.split('-').apply(lambda x: x[-1])

In [69]:
display(mq['loan_id_cleaned'])
display(nftfi['loan_no_cleaned'])

0         4882
1          733
2        31180
3        27589
4        23358
         ...
22037    20293
22038    20292
22039    20291
22040    20290
22041    20288
Name: loan_id_cleaned, Length: 22042, dtype: object

0            3
1         6396
2         7075
3         7722
4        12739
         ...
19494    18848
19495    18854
19496    18876
19497    19124
19498    19125
Name: loan_no_cleaned, Length: 19499, dtype: object

In [44]:
mq.shape[0], nftfi.shape[0]

(22042, 19499)

In [70]:
# Check minimum and maximum dates of each table
print(f"min mq date: {mq.block_timestamp.min()}; max mq date: {mq.block_timestamp.max()}")
print(f"min nftfi date: {nftfi.date.min()}; max nftfi date: {nftfi.date.max()}")

min mq date: 2020-10-15 18:15:24.000000 UTC; max mq date: 2023-05-18 12:41:47.000000 UTC
min nftfi date: 2022-03-30 10:21:32.000000 UTC; max nftfi date: 2023-05-15 10:29:23.000000 UTC

## Compute April subset for each dataset

In [48]:
april_mq = mq.loc[mq['block_timestamp'] >= '2023-04-01'].loc[mq['block_timestamp'] < '2023-05-01']
april_mq.shape

(1852, 20)

In [49]:
april_nftfi = nftfi.loc[nftfi['date'] >= '2023-04-01'].loc[nftfi['date'] < '2023-05-01']
april_nftfi = april_nftfi[~(april_nftfi['blockchain'] == 'optimism')]
april_nftfi.shape

(2168, 24)

#### Check for duplicates

In [ ]:
april_nftfi.loc[april_nftfi.loan_no_cleaned.duplicated()== True]

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,...,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time,loan_no_cleaned
2835,2023-04-10 20:33:35.000000 UTC,ethereum,Kanpai Pandas,v2.loan.fixed.collection-32241,2023-04-10 20:33:35.000000 UTC,2023-04-13 20:33:35.000000 UTC,True,3.0,False,1.281000e+00,...,0x2ae57B80DF1Ea04E5638E780ecc6c96232be65D5,0x331739Ad658F76dAbc0F5790d42599Ac38DaAD91,0xacf63e56fd08970b43401492a02f6f38b6635c91,4696,False,90.000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,2023-04-12 13:40:11.000000 UTC,NaN,32241
10030,2023-04-27 00:15:11.000000 UTC,ethereum,Kanpai Pandas,v2-1.loan.fixed-34175,2023-04-27 00:15:11.000000 UTC,2023-05-11 00:15:11.000000 UTC,True,14.0,False,1.700000e-09,...,0x226d3154Ea70DCC8b983f4BD4061D8BED318E03f,0x331739Ad658F76dAbc0F5790d42599Ac38DaAD91,0xacf63e56fd08970b43401492a02f6f38b6635c91,4695,False,46.008403,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2023-05-06 19:03:23.000000 UTC,NaN,34175

In [ ]:
april_mq.loc[april_mq.loan_id_cleaned.duplicated()== True]

Empty DataFrame
Columns: [transaction_hash, block_timestamp, loan_id, to_address, from_address, principal_amount, repayment_amount, erc20_address, erc20_name, due_date, duration_in_days, apr, token_id, collection_address, protocol, amt_in_usd, roll_over, block_number, p2p_p2pool, loan_id_cleaned]
Index: []

In [ ]:
april_nftfi = april_nftfi[~(april_nftfi['blockchain'] == 'optimism')]

In [ ]:
april_nftfi.loc[april_nftfi.loan_no_cleaned.duplicated()== True]

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,...,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time,loan_no_cleaned
2835,2023-04-10 20:33:35.000000 UTC,ethereum,Kanpai Pandas,v2.loan.fixed.collection-32241,2023-04-10 20:33:35.000000 UTC,2023-04-13 20:33:35.000000 UTC,True,3.0,False,1.281000e+00,...,0x2ae57B80DF1Ea04E5638E780ecc6c96232be65D5,0x331739Ad658F76dAbc0F5790d42599Ac38DaAD91,0xacf63e56fd08970b43401492a02f6f38b6635c91,4696,False,90.000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,2023-04-12 13:40:11.000000 UTC,NaN,32241
10030,2023-04-27 00:15:11.000000 UTC,ethereum,Kanpai Pandas,v2-1.loan.fixed-34175,2023-04-27 00:15:11.000000 UTC,2023-05-11 00:15:11.000000 UTC,True,14.0,False,1.700000e-09,...,0x226d3154Ea70DCC8b983f4BD4061D8BED318E03f,0x331739Ad658F76dAbc0F5790d42599Ac38DaAD91,0xacf63e56fd08970b43401492a02f6f38b6635c91,4695,False,46.008403,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2023-05-06 19:03:23.000000 UTC,NaN,34175

In [50]:
display(april_mq.head(3).sort_values('loan_id_cleaned', ascending=False))
display(april_nftfi.head(3).sort_values('loan_no_cleaned', ascending=False))

,transaction_hash,block_timestamp,loan_id,to_address,from_address,principal_amount,repayment_amount,erc20_address,erc20_name,due_date,duration_in_days,apr,token_id,collection_address,protocol,amt_in_usd,roll_over,block_number,p2p_p2pool,loan_id_cleaned
28,0xecaf8a9e276b227506ebc8acc837792370ec83d52e39...,2023-04-28 00:40:35.000000 UTC,34311,0xefa755b82218dc287ed37bf6463c144ae6609076,0x08f6db921b10ce9f7ec4166b9be9dc01a30c34cc,10000.0,10082.191781,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDc,2023-05-28 00:40:35.000000 UTC,30.0,0.10,6096,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,10000.0000,False,17141128,p2p,34311
82,0x2d07d7afcb6324bfc6239c6bcc9bca658a49cd2b227c...,2023-04-27 13:53:47.000000 UTC,34265,0xa35b95b60af5205dbd02571d8d72ef83f79a28af,0x1797b4235473fbe0e7e44322f01c1b5618ebda41,6.0,6.540000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2024-04-26 13:53:47.000000 UTC,365.0,0.09,9470,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,11261.0808,False,17137936,p2p,34265
2,0x0f3522aa06eb28b8cceb590ea80cbd335ab64010dab8...,2023-04-02 09:27:59.000000 UTC,31180,0xf7b18e107eb36797f4ce36de756630b9c30969ad,0x31d75becb2fe9cc60eb4877b44110aa1cdae90a5,800.0,826.301370,0x6b175474e89094c44da98b954eedeac495271d0f,DAI,2023-06-01 09:27:59.000000 UTC,60.0,0.20,2118,0x026224a2940bfe258d0dbe947919b62fe321f042,nftfi,800.0000,False,16960517,p2p,31180

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,...,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time,loan_no_cleaned
18,2023-04-05 12:21:23.000000 UTC,ethereum,Art Blocks,v2-1.loan.fixed-31524,2023-04-05 12:21:23.000000 UTC,2024-04-04 12:21:23.000000 UTC,False,365.0,False,6.0,...,0x9eff536C3f8fBA72261C687154E9Dc4289b0745D,0xfe285aE8A0F7FE2Dd3743966F2f1B85596f63564,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,9408,True,9.0,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,31524
17,2023-04-05 12:13:11.000000 UTC,ethereum,Art Blocks,v2-1.loan.fixed-31522,2023-04-05 12:13:11.000000 UTC,2024-04-04 12:13:11.000000 UTC,False,365.0,False,6.0,...,0x9eff536C3f8fBA72261C687154E9Dc4289b0745D,0xeFFfDc05e7c5B305Fbd504366B01f2d6424cB8c4,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,2244,True,9.0,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,31522
16,2023-04-05 05:48:35.000000 UTC,ethereum,Art Blocks,v2-1.loan.fixed-31479,2023-04-05 05:48:35.000000 UTC,2024-04-04 05:48:35.000000 UTC,False,365.0,False,6.0,...,0x9eff536C3f8fBA72261C687154E9Dc4289b0745D,0x3b7F246d8340DE4Fe0495Bfd243FBEa798503C7f,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,9449,True,9.0,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,31479

In [71]:
# Determine the set of unique IDs present in MQ and not in NFTfi
len(set(list(april_mq.loan_id_cleaned)) - set(list(april_nftfi.loan_no_cleaned)))

402

In [52]:
april_mq.shape, april_nftfi.shape

((1852, 20), (2168, 24))

In [53]:
april_nftfi.shape[0] - april_mq.shape[0]

316

In [54]:
mq_loans_not_in_nftfi = list(
        set(list(april_mq.loan_id_cleaned)) - set(list(april_nftfi.loan_no_cleaned))
    )
mq_loans_not_in_nftfi[:5]

['33529', '34206', '32113', '33014', '32216']

In [55]:
len(mq_loans_not_in_nftfi)

402

In [76]:
# MQ loans not in NFTfi
mq_not_in_nftfi = april_mq[april_mq['loan_id_cleaned'].isin(mq_loans_not_in_nftfi)].reset_index(drop=True)
mq_not_in_nftfi

,transaction_hash,block_timestamp,loan_id,to_address,from_address,principal_amount,repayment_amount,erc20_address,erc20_name,due_date,duration_in_days,apr,token_id,collection_address,protocol,amt_in_usd,roll_over,block_number,p2p_p2pool,loan_id_cleaned
0,0x0f3522aa06eb28b8cceb590ea80cbd335ab64010dab8...,2023-04-02 09:27:59.000000 UTC,31180,0xf7b18e107eb36797f4ce36de756630b9c30969ad,0x31d75becb2fe9cc60eb4877b44110aa1cdae90a5,800.000000,826.301370,0x6b175474e89094c44da98b954eedeac495271d0f,DAI,2023-06-01 09:27:59.000000 UTC,60.0,0.2000,2118,0x026224a2940bfe258d0dbe947919b62fe321f042,nftfi,800.000000,False,16960517,p2p,31180
1,0x18fb1609bf5abff9e1fb2b9f44c1cd3ac1eebc9d1555...,2023-04-13 01:40:35.000000 UTC,32542,0x905f48cbaaaf881dbee913ce040c3b26d3bbc6d9,0x5b20dce335d131c6de0cc11b481ace2aade788df,12.500000,13.085308,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2023-07-12 01:40:35.000000 UTC,90.0,0.1899,2949,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,23874.382500,False,17035683,p2p,32542
2,0x7a60e16d71c9b4042d425eb67a950a58f3b8aeb8d759...,2023-04-26 10:16:23.000000 UTC,34061,0x376bc7ddbc6a10f32b7421287f1dac6de0ad9f12,0x66ea2d335291a5afa8d3522eef6adfc3f8746e16,12000.000000,12295.890411,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDc,2023-06-25 10:16:23.000000 UTC,60.0,0.1500,8223,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,12000.000000,False,17129749,p2p,34061
3,0xebd0a07d2f032a5d5644a5c511393d326eef822ce1ef...,2023-04-11 17:47:47.000000 UTC,32367,0xf8f327e4c1cbcb0ef014031b84069b9d3579f42d,0x8a8bad31eb55ed692a03f963d6291d03756b9abf,5.000000,5.073973,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2023-06-10 17:47:47.000000 UTC,60.0,0.0900,812,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,9519.369000,False,17026416,p2p,32367
4,0x59c4690467a3209373dcf60a2293bf7bd993a57ae14b...,2023-04-11 05:14:35.000000 UTC,32301,0x66e5761a2103d7d3537d6ac45570a0a9831c7f7a,0xc8709b3cd69b0903664398df12f3c738c16e53fd,8.500000,9.107808,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2023-07-10 05:14:35.000000 UTC,90.0,0.2900,279,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,16327.010800,False,17022722,p2p,32301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,0xa40ef65a8b0761802d1b0b6d4453cc6401833bd49b13...,2023-04-29 09:31:35.000000 UTC,34470,0x24970b51dd29dc2dfa264cd51c41998c68e3d7e6,0x47a0dfeb07abebd5f77aa5ffaa18faecd7686b4f,0.096655,0.097767,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2023-05-29 09:31:35.000000 UTC,30.0,0.1400,30539,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,nftfi,183.775902,False,17150883,p2p,34470
398,0x94fe77f6412da8ed775ecc1b1f11bd6b0165f8e85f2f...,2023-04-26 21:21:35.000000 UTC,34149,0x79566ea9a27dac951add981a66ab4c7980b25f56,0x47a0dfeb07abebd5f77aa5ffaa18faecd7686b4f,0.096850,0.097964,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2023-05-26 21:21:35.000000 UTC,30.0,0.1400,14265,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,nftfi,180.790360,False,17133035,p2p,34149
399,0xfd554ceaf3b0aad2bec57bb088e9eb15bf9c341f3516...,2023-04-26 21:17:11.000000 UTC,34148,0x9f68f366df33cbba459b12b085330ab7e9a7e11f,0x47a0dfeb07abebd5f77aa5ffaa18faecd7686b4f,0.096850,0.097964,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2023-05-26 21:17:11.000000 UTC,30.0,0.1400,34350,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,nftfi,180.790360,False,17133013,p2p,34148
400,0x99059ff81073197b805856877a7bfbdddbaaffcbd536...,2023-04-29 12:00:23.000000 UTC,34473,0x5f7c27402603d2607b07c19fcd41c84a1f5557ac,0x59b1856ba59c24899a2514696d229d25a66a8a96,0.120000,0.126805,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2023-05-29 12:00:23.000000 UTC,30.0,0.6900,15980,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,nftfi,227.908464,False,17151618,p2p,34473
401,0x39971cfd61d50d6e26688f60578ef8c997186f34cddb...,2023-04-26 21:07:47.000000 UTC,34145,0xdef310bddbd0e2a524775505a134a86b6a583a6b,0x59b1856ba59c24899a2514696d229d25a66a8a96,0.120000,0.126805,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2023-05-26 21:07:47.000000 UTC,30.0,0.6900,3439,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,nftfi,224.004576,False,17132966,p2p,34145

In [78]:
# We need to explore this table
mq_not_in_nftfi.erc20_name.unique()

array(['DAI', 'wETH', 'USDc'], dtype=object)

## NFTfi loans not in MQ

In [67]:
nftfi_loans_not_in_mq = list(
        set(list(april_nftfi.loan_no_cleaned)) - set(list(april_mq.loan_id_cleaned))
    )
len(nftfi_loans_not_in_mq)

716

In [79]:
## LOANS IN NFTFI AND NOT IN MQ
nftfi_not_in_mq = april_nftfi[april_nftfi['loan_no_cleaned'].isin(nftfi_loans_not_in_mq)].reset_index(drop=True)
nftfi_not_in_mq

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,...,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time,loan_no_cleaned
0,2023-04-11 20:14:59.000000 UTC,ethereum,Friendship Bracelets by Alexis AndrÃ©,v2-1.loan.fixed-32381,2023-04-11 20:14:59.000000 UTC,2023-05-15 20:14:59.000000 UTC,False,34.0,False,1.654300e-01,...,0x5a5617BA16Beba3d04ae3C6b1e9d522c1856763C,0x54f61eb7659141E7eDcc2cA6337ba1BEE200Ef0d,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,34695,True,69.001017,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,32381
1,2023-04-11 20:24:11.000000 UTC,ethereum,Friendship Bracelets by Alexis AndrÃ©,v2-1.loan.fixed-32384,2023-04-11 20:24:11.000000 UTC,2023-05-16 20:24:11.000000 UTC,False,35.0,False,1.654320e-01,...,0x5a5617BA16Beba3d04ae3C6b1e9d522c1856763C,0x54f61eb7659141E7eDcc2cA6337ba1BEE200Ef0d,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,33113,True,69.001851,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,32384
2,2023-04-12 21:55:47.000000 UTC,ethereum,Friendship Bracelets by Alexis AndrÃ©,v2-1.loan.fixed-32532,2023-04-12 21:55:47.000000 UTC,2023-06-03 21:55:47.000000 UTC,False,52.0,False,1.546560e-01,...,0x5a5617BA16Beba3d04ae3C6b1e9d522c1856763C,0xBeC69dfcE4c1fA8b7843FEE1Ca85788d84A86B06,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,38368,True,69.000469,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,32532
3,2023-04-12 21:56:23.000000 UTC,ethereum,Friendship Bracelets by Alexis AndrÃ©,v2-1.loan.fixed-32533,2023-04-12 21:56:23.000000 UTC,2023-05-19 21:56:23.000000 UTC,False,37.0,False,1.565430e-01,...,0x5a5617BA16Beba3d04ae3C6b1e9d522c1856763C,0xBeC69dfcE4c1fA8b7843FEE1Ca85788d84A86B06,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,33523,True,68.997276,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,32533
4,2023-04-12 21:57:11.000000 UTC,ethereum,Friendship Bracelets by Alexis AndrÃ©,v2-1.loan.fixed-32535,2023-04-12 21:57:11.000000 UTC,2023-05-19 21:57:11.000000 UTC,False,37.0,False,1.564340e-01,...,0x5a5617BA16Beba3d04ae3C6b1e9d522c1856763C,0xBeC69dfcE4c1fA8b7843FEE1Ca85788d84A86B06,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,26810,True,69.001209,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,32535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,2023-04-25 21:25:35.000000 UTC,ethereum,NFTrees,v2.loan.fixed.collection-33989,2023-04-25 21:25:35.000000 UTC,2023-05-16 21:25:35.000000 UTC,True,21.0,False,7.000000e-09,...,0x5CAdce51dB28AB261E50743fEB881a3F7AcA0A69,0x1A5B87FF2e576B0A4605206c262A3D793BaB725a,0xeaa4c58427c184413b04db47889b28b5c98ebb7b,354,False,17.500000,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2023-05-08 06:51:47.000000 UTC,NaN,33989
714,2023-04-25 21:37:11.000000 UTC,ethereum,NFTrees,v2-1.loan.fixed-33990,2023-04-25 21:37:11.000000 UTC,2023-05-16 21:37:11.000000 UTC,True,21.0,False,7.000000e-09,...,0x5CAdce51dB28AB261E50743fEB881a3F7AcA0A69,0x0515b7819A045AeB797E984Acb0D05cDAfA98D35,0xeaa4c58427c184413b04db47889b28b5c98ebb7b,22,False,17.500000,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2023-05-08 23:00:11.000000 UTC,NaN,33990
715,2023-04-03 22:17:23.000000 UTC,ethereum,Azuki,v2.loan.fixed.collection-31340,2023-04-03 22:17:23.000000 UTC,2023-04-24 22:17:23.000000 UTC,True,21.0,False,1.400000e+04,...,0x984879991a9d5a257fbB2b3b173936f974fE2c3f,0xcc00b2E85A8A9D712af7dff7601499fa66C6A702,0xed5af388653567af2f388e6224dc7c4b3241c544,7850,False,32.000000,0x6b175474e89094c44da98b954eedeac495271d0f,2023-04-16 20:07:35.000000 UTC,NaN,31340
716,2023-04-22 14:24:59.000000 UTC,ethereum,Azuki,v2.loan.fixed.collection-33603,2023-04-22 14:24:59.000000 UTC,2023-05-13 14:24:59.000000 UTC,True,21.0,False,1.650000e+04,...,0x984879991a9d5a257fbB2b3b173936f974fE2c3f,0x703229Ec1005fba3108883b8A094EA206FC1E161,0xed5af388653567af2f388e6224dc7c4b3241c544,6504,False,29.000000,0x6b175474e89094c44da98b954eedeac495271d0f,2023-05-13 08:14:23.000000 UTC,NaN,33603
717,2023-04-29 12:46:47.000000 UTC,ethereum,Azuki,v2.loan.fixed.collection-34479,2023-04-29 12:46:47.000000 UTC,2023-05-20 12:46:47.000000 UTC,False,21.0,False,1.190000e+04,...,0x0515b7819A045AeB797E984Acb0D05cDAfA98D35,0xf1CC450685dEEc8898ACf188803cB02ea44661A4,0xed5af388653567af2f388e6224dc7c4b3241c544,9392,True,1.500000,0x6b175474e89094c44da98b954eedeac495271d0f,NaN,NaN,34479

In [80]:
nftfi_not_in_mq.dtypes

date                         object
blockchain                   object
collection_name              object
loan_no                      object
loan_start_time              object
loan_due_time                object
repaid                         bool
no_of_days                  float64
liquidated                     bool
loan_principal_amount       float64
maximum_repayment_amount    float64
eth_price                   float64
usd_value                   float64
interest                    float64
lender                       object
borrower                     object
nft_collateral_contract      object
nft_collateral_id             int64
active                         bool
apr                         float64
loan_erc20denomination       object
loan_repaid_time             object
loan_liquidation_time        object
loan_no_cleaned              object
dtype: object

In [ ]:
april_nftfi.blockchain.unique()

array(['ethereum', nan, 'avalanche_c'], dtype=object)

In [62]:
import numpy as np
april_nftfi[april_nftfi['blockchain'] == np.nan]

Empty DataFrame
Columns: [date, blockchain, collection_name, loan_no, loan_start_time, loan_due_time, repaid, no_of_days, liquidated, loan_principal_amount, maximum_repayment_amount, eth_price, usd_value, interest, lender, borrower, nft_collateral_contract, nft_collateral_id, active, apr, loan_erc20denomination, loan_repaid_time, loan_liquidation_time, loan_no_cleaned]
Index: []

[0 rows x 24 columns]

In [63]:
# TODO:
# spreadsheet of different transactions that are missing, or are more of them on MQ dataset. we need clear doc discussing which tsx are missing, which are added,
# what are the volume differences coming from.

# try and check that the eth value of those loans per transaction is the same.
# check if volumes per loanerc20 collateral are matching